@model SocialMediaLinksOptions;
@{
	ViewBag.Title = "Social Media Links";
}
<div class="flex">
	<div class="box">
		<a href=@Model.Facebook>@Model.Facebook</a>
	</div>
	<div class="box">
		<a href=@Model.Youtube>@Model.Youtube</a>
	</div>
	<div class="box">
		<a href=@Model.Twitter>@Model.Twitter</a>
	</div>
	<div class="box">
		<a href=@Model.Instagram>@Model.Instagram</a>
	</div>
</div> 